.App {
  font-family: sans-serif;
  text-align: center;
}
table {
  font-family: Arial, sans-serif;
  text-align: left;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid grey;
  padding: 8px;
}
th {
  white-space: nowrap;
}
dt {
  font-weight: 700;
  float: left;
  width: 120px;
}
dd {
  margin-left: 120px;
  margin-bottom: 4px;
}
